<!doctype html>
<html lang="en">
  <head>
    <title>Zzalies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <style>
      li { list-style-type : none }
    </style>
  </head>
  <body>
      {% include 'header.html'%}

      <div class="container">
        <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
          <div class="card-header">
              <p>Title</p>
              <input type="text" class="form-control" id="gif_title" placeholder="title"></input>
              <p>Tag</p>
              <input type="text" class="form-control" id="gif_tag" placeholder="tag"></input>
            <p></p>
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item" >
                <a class="nav-link active" id="file_tab" onclick="onClickFileTab()" href="#">FILE</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" id="url_tab" onclick="onClickUrlTab()" href="#">URL</a>
              </li>
            </ul>
          </div>


          <div class="card-body" id="file_view">
              <h5 class="card-title">Making GIF</h5>
              <span class="btn btn-default btn-file">
                <input type="file" class="form-control-file is-invalid" name="upload_image" id="upload_image" accept=".jpg, .jpeg, .png, .gif" multiple>
              </span>
              <button class="btn btn-primary" id="file_submit" onclick="onClickFileSubmit()">MAKE</button>

              <br/> <br/>
            </div>

            <div class="card-body" id="url_view" style="display: none;">
                <h5 class="card-title">Making GIF</h5>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="url_input" placeholder="image url"></input>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="url_button" onclick="onClickImageButton()" >IMG Add</button>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-primary" id="url_list_submt" onclick="onClickImageListSubmit()">Make</button>
                  </div>
                  <div id="image_list"></div>
                </div>
            </div>
          </div>
{#          {% for foo in  %}#}
{#          #}
{#          {% endfor %}#}

          <div class="card-group" id="preview">
              <div class="card">
                <img class="card-img-top" src="/static/image/twice_image1.jpg" alt="Card image cap">
              </div>
          </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      var page = document.getElementById("header-create");
      HeaderTapActive(page);

      var url_list = []
      var file_list = []

      var file_tab = document.getElementById('file_tab');
      var file_view = document.getElementById('file_view');
      var url_tab = document.getElementById('url_tab');
      var url_view = document.getElementById('url_view');

      function onClickFileTab() {
        file_view.style.display = "block";
        file_tab.className = "nav-link active";

        url_view.style.display = "none";
        url_tab.className = "nav-link";
      }

      function onClickUrlTab() {
        file_view.style.display = "none";
        file_tab.className = "nav-link";

        url_view.style.display = "block";
        url_tab.className = "nav-link active";
      }


      var input = document.getElementById('upload_image');
      var preview = document.getElementById('preview');

      input.addEventListener('change', updateImageDisplay);

      function updateImageDisplay() {
        //while(preview.firstChild) {
          //preview.removeChild(preview.firstChild);
        //}

        var curFiles = input.files;
        if(curFiles.length === 0) {
          var para = document.createElement('p');
          para.textContent = 'No files currently selected for upload';
          preview.appendChild(para);

        } else {
          for(var i = 0; i < curFiles.length; i++) {
            var card = document.createElement('div');
            preview.appendChild(card);
            card.className = "card";

            var image = document.createElement('img');
            image.className = "card-img-top";
            image.src = window.URL.createObjectURL(curFiles[i]);
            image.alt = "Card image cap";

            card.appendChild(image);

            file_list.push(curFiles[i]);
          }
        }
      }

      function onClickFileSubmit() {
        var title = document.getElementById("gif_title").value;
        if (title == "") {
          alert("Please check title");
          return;
        }
        //alert(file_list);
        var form_data = new FormData();
        for (var i = 0; i < file_list.length; i++) {
          var file = file_list[i];
          form_data.append("upload_image", file, file.name);
        }

        form_data.append("title", title);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/mypage/zzal/make", true);
        xhr.onload = function () {
          if (xhr.status === 200) {
            // File(s) uploaded.
            alert('ok');
          } else {
            alert('An error occurred!');
          }
        };

        xhr.send(form_data);
      }

      function onClickImageButton() {
        var image_list = document.getElementById("image_list");
        var url = document.getElementById("url_input").value;
        var image_src = "<img src=\"" + url + "\">"
        image_list.innerHTML += image_src;
        document.getElementById("url_input").value = "";
        url_list.push(url)
        console.log(url_list)
      }

      function onClickImageListSubmit() {
        showLoading();
        var title = document.getElementById("gif_title").value;
        if (title == "") {
          alert("Please check title");
          return;
        }
        var list = JSON.stringify(url_list)
        var data = {gif_title:title,url_list:list};
        var callback = function(data) {
          var image_list = document.getElementById("image_list");
          var source = getimgsrc(data);
          image_list.innerHTML = source;
        }
        var errorback = function(xhr, status, error) {
          alert("error");
        }
        var dict = {type:"POST",url:"/mypage/zzal/make",data:data,success:callback,error:errorback};
        $.ajax(dict);
      }

      function showLoading() {
        var url = "https://i.imgur.com/TZcL7Cc.gif";
        var source = getimgsrc(url);
        var image_list = document.getElementById("image_list");
        console.log(source);
        image_list.innerHTML = source;
      }

      function getimgsrc(url) {
        var str = "<img src=\"" + url + "\">";
        return str;
      }
    </script>
  </body>
</html>