<!doctype html>
<html lang="en">
  <head>
    <title>Zzalies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
      {% include 'header.html'%}

      <div class="container">
        <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item" >
                <a class="nav-link active" id="file_tab" onclick="onClickFileTab()" href="#">FILE</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" id="url_tab" onclick="onClickUrlTab()" href="#">URL</a>
              </li>
            </ul>
          </div>

          <div class="card-body" id="file_view">
              <form action="/mypage/zzal/make" method="POST" enctype = "multipart/form-data">
                <h5 class="card-title">Making GIF</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <span class="btn btn-default btn-file">
                  <input type="file" class="form-control-file is-invalid" name="upload_image" accept=".jpg, .jpeg, .png, .gif" multiple>
                </span>
                <button class="btn btn-primary">MAKE</button>
              </form>

              <br/> <br/>

              <div id="preview">
              </div>
            </div>

            <div class="card-body" id="url_view" style="display: none;">
                <h5 class="card-title">Making GIF</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="row">
                  <div class="col-md-7">
                    <input type="text" class="form-control" id="url_input" placeholder="image url"></input>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-primary" id="url_button">IMG Add</button>
                  </div>
                </div>
            </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      var page = document.getElementById("header-create");
      HeaderTapActive(page);

      var url_list = []

      var file_tab = document.getElementById('file_tab');
      var file_view = document.getElementById('file_view');
      var url_tab = document.getElementById('url_tab');
      var url_view = document.getElementById('url_view');

      function onClickFileTab() {
        file_view.style.display = "block";
        file_tab.className = "nav-link active";

        url_view.style.display = "none";
        url_tab.className = "nav-link";
      }

      function onClickUrlTab() {
        file_view.style.display = "none";
        file_tab.className = "nav-link";

        url_view.style.display = "block";
        url_tab.className = "nav-link active";
      }


      var input = document.querySelector('input');
      var preview = document.getElementById('preview');

      input.addEventListener('change', updateImageDisplay);

      var fileTypes = [
        'image/jpeg',
        'image/pjpeg',
        'image/png',
        'image/gif'
      ]

      function validFileType(file) {
        for(var i = 0; i < fileTypes.length; i++) {
          if(file.type === fileTypes[i]) {
            return true;
          }
        }

        return false;
      }

      function updateImageDisplay() {
        //while(preview.firstChild) {
          //preview.removeChild(preview.firstChild);
        //}

        var curFiles = input.files;
        if(curFiles.length === 0) {
          var para = document.createElement('p');
          para.textContent = 'No files currently selected for upload';
          preview.appendChild(para);

        } else {
          var list = document.createElement('ol');
          preview.appendChild(list);

          for(var i = 0; i < curFiles.length; i++) {
            var listItem = document.createElement('li');
            var para = document.createElement('p');

            var div = document.createElement('div')
            div.className = "card-columns";
            listItem.appendChild(div);

            var div_card = document.createElement('div')
            div_card.className = "card";
            div.appendChild(div_card);

            var div_card_body = document.createElement('div')
            div_card.className = "card-body";
            div_card.appendChild(div_card_body);

            if(validFileType(curFiles[i])) {
              para.textContent = 'File name ' + curFiles[i].name + '.';
              var image = document.createElement('img');
              image.src = window.URL.createObjectURL(curFiles[i]);
              image.style.width = "200px";
              image.style.height = "200px";
              image.style.paddingBottom = "20px";

              div_card_body.appendChild(image);
              //div_card_body.appendChild(para);

            } else {
              para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
              div_card_body.appendChild(para);
            }

            list.appendChild(listItem);
          }
        }
      }


    </script>
  </body>
</html>