<!doctype html>
<html lang="en">
  <head>
    <title>Zzalies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      {% include 'header.html'%}
  </head>

  <body>
  <div class="container">
      <div class="card text-center" style="margin-top: 30px; margin-bottom: 30px">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
           <form>
              <div class="form-group">
                <p>Selected GIF</p>
                <div class="row" id="gif_selected"></div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <input type="title" class="form-control" id="index_title" aria-describedby="titleHelp" placeholder="Enter title">
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control" id="index_text" placeholder="text"></input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" id="index_btn">Apply</button>
                    </div>
                </div>
                <div class="row" id="gif-area"></div>
              </div>
            </form>
          </div>
      </div>
<!--todo: add tag-->
    <div class="card-columns">
        {% for article in article_list %}
            {% if article.image == "" or article.image ==  "null"  %}
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{article.title}}</h4>
                  <p class="card-text">{{ article.body }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {% else %}
            <div class="card">
                <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">{{article.title}}</h4>
                  <p class="card-text">{{ article.body}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}


    </div>
  </div>
</body>

    <script>
      var page = document.getElementById("header-index");
      HeaderTapActive(page);

      function GetGIFList(tag) {
        var method = "GET";
        var url = "index/search/" + tag;
        var callback = function(data) {
          var dict = JSON.parse(data);
          ImageInsert(dict["list"]);
        }
        var errorback = function(xhr, status, error) {
          alert("error");
        }
        var dict = {type:method,url:url,success:callback,error:errorback};
        $.ajax(dict);
      }

      function ImageInsert(url_array) {
        if (url_array == null) {
          console.log("none");
          return;
        }
        var image_box = document.getElementById("gif-area");
        image_box.innerHTML = "";
        var html_source = "";
        for (var num in url_array) {
          html_source += "<br><img src=\""+url_array[num]+"\" id=\""+url_array[num]+"\" onclick=\"ImageSelect(this)\" width=\"100px\" height=\"100px\"><br>\n";
        }
        image_box.innerHTML = html_source;
      }

      var key = ""

      function ImageSelect(id) {
        document.getElementById("gif_selected").innerHTML += "<img src=\""+id.id+"\" width=\"100px\" height=\"100px\">";
        document.getElementById("gif-area").innerHTML = "";
        var body = document.getElementById("index_text").value
        document.getElementById("index_text").value = body.replace("@gif "+key," ");
      }

      function PostBoard() {
        var title = document.getElementById("index_title").value;
        if (title == "") {
          alert("Typing title")
          return;
        }
        var body = document.getElementById("index_text").value;
        var image = document.getElementById("gif_selected").innerHTML;
        var data = {index_title:title,index_text:body,gif_selected:image};
        var callback = function(data) {
          location.reload();
          alert("success");
        }
        var errorback = function(xhr, status, error) {
          alert("error");
        }
        var dict = {type:"POST",url:"index/board",data:data,success:callback,error:errorback};
        $.ajax(dict);
      }

      $("#index_btn").click(function(e){
        PostBoard();
      })

      $("#index_text").keyup(function(e){
        var body = document.getElementById("index_text").value;
        var offset = body.lastIndexOf("@gif ");
        if (offset != -1) {
          key = body.slice(offset+5);
          if (key == "") return;
          GetGIFList(key);
        }
      })
    </script>
</html>