<!doctype html>
<html lang="en">
  <head>
    <title>Zzalies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
      <div class="card">
          {% include 'header.html'%}
        <div class="card-body">
          <form action="/mypage/zzal/upload" method="POST" enctype = "multipart/form-data">
            <h4 class="card-title">ZZAL upload (GIF)</h4>
            <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="validationServer04">Title</label>
                  <input type="text" class="form-control is-invalid" id="title" name="title" placeholder="Title" required>
                  <div class="invalid-feedback">
                    Please provide a valid title.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationServer05">Tag</label>
                  <input type="text" class="form-control is-invalid" id="tag" name="tag"  placeholder="Tag" required>
                  <div class="invalid-feedback">
                    Please provide a valid tag.
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationServer03">Description</label>
                  <input type="text" class="form-control is-invalid" id="desc" name="desc"  placeholder="Description" required>
                  <div class="invalid-feedback">
                    Please provide a valid description.
                  </div>
                </div>
            </div>
              <div class="row">
                  <div class="col-md-6 mb-3">
                    <input type="file" name="upload_file" class="form-control-file is-invalid" id="upload_file">
                  </div>
              </div>

            <button class="btn btn-primary" type="submit" value="UPLOAD">Submit form</button>

          </form>


        </div>
      </div>



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      var page = document.getElementById("header-upload");
      HeaderTapActive(page);


    </script>
  </body>

</html>